/*referencia por palabra clave*/ 
body{ 
    background-color: black;
    color: white;
}
article{
    background-color:rgb(red, green, blue) 44,43,43;
    padding: 1.5rem;

 


} 

.resaltado { 
    color: yellow; 
} 

#titulo_del_blog { text-align: center; font-size: 3rem;} 
      
    
     
