/*referencia por palabra clave*/
body {
    background-color: black;
    color:white;
}
article{
    background-color:rgb(red,green,blue) 44,43,43;
    padding: 1.5rem;
    border-bottom: 1px #ffffff;
}
.resaltado {
    color:yellow;
}
.titulo{
    text-align: center;
    font-size: 3rem;
}
article{
    padding: 1.5rem;
    border-bottom: 1px  solid white;
}
.ilustracion{
    border: 4px white solid;
    display: inline-block;
}
#titulo_del_blog{text-align: center; font-size: 3rem;}

nav>ul>li {
 list-style: none;   
}


nav>ul>li {
    text-decoration: none;
}

/* grid */
section {
    
    /* despliégate como  grid */
    display: grid;
    /* Crea 12 columnas cada una de una fracción usando la función repeat*/
    grid-template-columns: repeat(12, 1fr);
    /* deja que las filas(renglones) ocupen el alto que necesitan */
    grid-auto-rows: auto;
    /* añade un espacio entre los elementos del grid de 3rem */
    gap: 3rem;
}

section>header{

    grid-column: span 12;   
}

section>main{
    grid-column: span 8;
}

section>aside{
    grid-column: span 4;
}

section>footer{
    grid-column: span 12;
}

/* selecciona el <ul> que es hijo de <nav> */
nav { 

    font-size: 1.3rem ;
} 

nav>ul>li>a {

    text-decoration: none;
    color: white;
} 
nav>ul>li>a:hover {

    text-decoration: underline;
    color: greenyellow;
} 
    /* despliegalo como flex */
    nav> ul {

        /*despliegalo como flex*/
        
        display:flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid #fff;
        padding-bottom: 0.5rem;
    } 

    aside>div:nth-of-type(even){
        background-color:  rgb(155, 18, 18);
    }  