/*referencia por palabra clave*/
body {
    background-color:black;
    color:white;
}
article{
    background-color:rgb(red,green,blue) 44,43,43;
    padding: 1.5rem;
    border-bottom: 1px #ffffff;
}
.resaltado {
    color:yellow;
}
.titulo{
    text-align: center;
    font-size: 3rem;
}
article{
    padding: 1.5rem;
    border-bottom: 1px, solid, white;
}
.ilustracion{
    border: 4px, solid, white;
}
#titulo_del_blog{text-align: center; font-size: 3rem;}